@import "../../../styles/abstracts/variables.scss";

.Button {
  background-color: $color-quaternary;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  color: $color-white !important;
  transition: all 0.3s;
  //   border: 1px solid $color-primary-light;
  //   box-shadow: 0 .2rem 5px rgba($color-white, .6);

  &:hover {
background-color: $color-quaternary-dark;
  }

  &:active {
    transform: translateY(0.4rem);
  }
}
