@import "../../../styles/abstracts/mixins";

.NavItems {
    // background-color: orangered;
    font-size: 2rem;
    letter-spacing: .2rem;
    display: flex;
    gap: 7rem;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
        gap: 3rem;
        font-size: 1.8rem;
        align-items: flex-start;
    }
}