// COLORS
$color-primary: #cff09e;
$color-primary-light: lighten(#cff09e, 7.5%);
$color-primary-lighter: lighten(#cff09e, 18%);

$color-secondary: #a8dba8;
$color-secondary-light: lighten($color-secondary, 20%);

$color-ternary: #79bd9a;

$color-quaternary: #3b8686;

$color-quaternary-dark: darken(#3b8686, 10);
$color-quaternary-darker: darken(#3b8686, 20);

$color-white: #eee;
$color-black: #111;

$color-grey-light: #faf9f9;

$color-negative: #df7a7a;

// FONT
$default-font-size: 2rem;

// GRID
$grid-width: 120rem;
