@import "../../../styles/abstracts/variables.scss";

.SideDrawer {
  a {
    color: inherit;
    border-bottom: none;
  }

  background-color: $color-quaternary-darker;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 40rem;
  max-width: 70%;
  color: $color-white;
  padding: 4rem;
  font-size: $default-font-size;
  box-shadow: 0 0 2rem rgba(17, 17, 17, 0.556);
  transition: transform 0.3s ease-out;

  &__Brand {
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 3.125rem;
    font-weight: 100;
    letter-spacing: .3rem
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(100%);
}
