@import "../abstracts/variables.scss";

.row {
  max-width: $grid-width;
  padding: 0 1%;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 0 3%;
  }
}

.u-margin-medium {
  // margin: 9rem 0;
  margin-top: 9rem;
  margin-bottom: 9rem;
}
