@import "../abstracts/variables.scss";

body {
  font-family: "merriweather";
}

p {
  font-size: $default-font-size;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

h1 {
  font-size: 4.883rem;
  margin-bottom: 6rem;
}
h2 {
  font-size: 3.906rem;
}
h3 {
  font-size: 3.125rem;
  margin-bottom: 4rem;
}
h4 {
  font-size: 2.5rem;
}
