@import "../../styles/abstracts/mixins";

.About {
  // background-color: orangered;

  &__Body {
    display: flex;
    gap: 2rem;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }

    &__Photo {
      position: relative;
      aspect-ratio: 1 / 1;
      height: 30rem;

      @include respond(tab-port) {
        height: 40rem;
      }
    }
  }
}
